# Exercise 4.6

#### Importing libraries and dataframes

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Importing 'orders_products_prior' from the 'Original data' folder
path = r'C:\Users\andd0\Documents\InstaCart Basket Analysis'

In [3]:
# Importing 'orders_wrangled' from the 'Prepared data' folder
df_ords_prepared = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'ords_wrangled_Ex4_5.csv'), index_col = False)

In [4]:
# Importing 'orders_products_prior' from the 'Original data' folder
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [17]:
df_ords_prior.shape

(32434489, 4)

#### Checking columns, rows, and dimensions

In [5]:
# Checking the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [7]:
df_ords_prepared.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,0,0,2539329,1,prior,1,2,8,NaN,Yes
1,1,1,2398795,1,prior,2,3,7,15.0,No
2,2,2,473747,1,prior,3,3,12,21.0,No
3,3,3,2254736,1,prior,4,4,7,29.0,No
4,4,4,431534,1,prior,5,4,15,28.0,No

In [8]:
# Dropping some columns I won't need
df_ords_prep = df_ords_prepared.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', 'eval_set'])

In [9]:
df_ords_prep.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order
0,2539329,1,1,2,8,NaN,Yes
1,2398795,1,2,3,7,15.0,No
2,473747,1,3,3,12,21.0,No
3,2254736,1,4,4,7,29.0,No
4,431534,1,5,4,15,28.0,No

In [10]:
# Checking dimensions
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords_prep.shape

(3421083, 7)

# Task 4.6

#### Step No. 1: Merging my prepared Instacart orders data with the new 'orders_products_prior'

#### Merging both dataframes 'df_ords_prior' and 'df_ords_prepared' via the 'order_id' column

In [12]:
# Since the data sets (df_merged_large and df_ords_prep) have different lengths, concatenating them is not an option. Therefore, I'm merging them.
# Key column: 'order_id'.
# Type of join: inner. The resulting data set should only contain observations included in both input data sets.
df_merged_large = df_ords_prep.merge(df_ords_prior, on = 'order_id', how = 'inner', indicator = True)

#### Explaining the code

In [13]:
# 'df_merged_large' stores the result of the merge.

# 'df_ords_prep.merge()' merges the first dataframe (df_ords_prep) with the second dataframe (df_ords_prior).

# on = 'order_id' specifies that the key column (the one that both data sets share) is 'order_id'.

# how = 'inner' indicates an inner join, meaning only rows with matching order_id values in both dataframes will be included.

# 'indicator = True' adds a new column named '_merge' (this is the name by default) that shows the origin of each row in the merged dataframe.

In [14]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

#### Explaining the counts

In [15]:
# The _merge column reports the merge status for each row.

# The value 'both' means that the row was present in both dataframes.

# The result shows all rows (32,434,489) are labeled 'both', while 'left_only' and 'right_only' are 0. 
# This suggests that only matching records were kept, as expected in an inner join.

# However, this doesn't confirm whether all rows from both dataframes were matched, because an inner join only returns common values. 
# To confirm if any rows were unmatched, an outer join is needed, as shown below.

In [16]:
df_merged_large_out = df_ords_prep.merge(df_ords_prior, on = 'order_id', how='outer', indicator = True)

KeyboardInterrupt

In [ ]:
df_merged_large_out['_merge'].value_counts()

#### Differences between 'outer' join and 'inner' join

In [ ]:
# In df_ords_prep, each order_id appears once (because it represents a summary of an order).

# In df_ords_prior, each order_id can appear multiple times (once per product in the order).

#### What happened after the merge?

In [ ]:
# After the merge, the resulting dataframe will include rows of df_ords_prep duplicated multiple times 
# (once for each matching order_id column from df_ords_prior). 

# This explains why the new dataframe will have more rows than either original dataframe.

#### What do left_only = 206,209 mean?

In [ ]:
# It means that 206,209 rows exist in the df_ords_prep dataframe only

### Possible causes/explanations?

In [ ]:
# Those orders were not included in the df_ords_prior dataframe. In other words, we have order information that doesn't have 
# the product details for several orders

# Missing values (df_ords_prior does not have null values. So, this is not the case here) 
# Mismatched IDs

In [ ]:
df_merged_large.head()

#### Checking the size of df_merged_large

In [ ]:
df_merged_large.shape

#### Step No. 2: Export the merged file in pickle format as “orders_products_combined.pkl”.

In [ ]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

#### Step No. 3: In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [ ]:
# The rest of the task is in the 'Exercise 4.6_Part II' notebook